* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    z-index: 1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    z-index: 10000;
}

.mainmain {
    z-index: 10000;
}

body {
    min-height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-image: url('doctors-day-cute-young-handsome-man-lab-coat-glasses-smiling-holding-book.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.logo, .title {
    font-size: 2em;
    color : navy;
    user-select: none;
}

.nav .nav-a {
    position: relative;
    font-size: 1.1em;
    color: navy;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.nav .btnlogin {
    width: 130px;
    height: 50px;
    background: transparent;
    border : 2px solid navy;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color : navy;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.nav .btnlogin:hover {
    background: navy;
    color: white;
    border-color: white;
}

.nav .nav-a::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 3px;
    background : navy;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
}

.nav .nav-a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

section {
    padding: 30px 100px;
    text-align: justify;
}

.title {
    text-align: center;
    margin-bottom: 19px;
}

.big-title {
    text-align: center;
    color: navy;
    font-size: xx-large;
    margin-bottom: 19px;
}

footer {
    background-color: #fff;
    color: navy;
    text-align: center;
    margin-top: 10px;
}

.always {
    left: 0;
    bottom: 0;
    margin-top: 81vh;
}

.form-class {
    width: 90%;
    max-width: 450px;
    position: absolute;
    margin-left: 0;
    top: 54%;
    left: 26%;
    transform: translate(-50%, -50%);
    padding: 40px 60px 50px;
    text-align: center;
    border: 2px solid skyblue ;
}

.form-class h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: navy;
    position: relative;
}

.form-class h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: navy;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.entry{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.input-field {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px; 
}

.entry i {
    margin-left: 15px;
    color: #999;
}

form p {
    text-align: center;
    font-size: 13px; 
}

form p a {
    text-decoration: none;
    color: navy;
}

.btn-class {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center
}

.btn-class button {
    width: 130px;
    height: 50px;
    background: transparent;
    border : 2px solid navy;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color : navy;
    font-weight: 500;
    transition: .5s;
}

.btn-class button:hover {
    background: navy;
    color: white;
    border-color: skyblue;
}